@charset "utf-8";

* {
	//border:1px red solid;
}


body {
	color: #707070;
	margin:auto;
	font-family: 'Noto Serif JP', serif;
}

header{
	height: 60px;
	line-height:20px;
	background-color: #EBC5E3;
	text-align:center;
	padding:20px;
}
header.staff{
	background-color: #afc;
}
header ul{
	display:flex;
	justify-content:space-between;
}
footer{
	background-color: #EBC5E3;
	padding:20px;
}
footer.staff{
	background-color: #afc;
}
main {
	width:100%;
	padding:20px;
}

ul {
	list-style:none;
}
a {
	color:#707070;
}
h1 {
	font-size:20px;
	text-align:center;
}
section {
	max-width:100%;
	margin:20px;
}


section form{
	max-width:100%;
	margin:auto;
	//padding:20px;
}
table {
	max-width:100%;
	margin-bottom:20px;
}
table tr {
	max-width:100%;
	display:flex;
	flex-direction:column;
}
table tr th {
	text-align:left;
}
table tr td input,table tr td select{
	border: solid 1px gray;
}
input[type="submit"] {
	height:30px;
	width:160px;
	border:solid 1px gray;
	border-radius:15px;
	line-height:30px;
	margin:4px;
}
input[type="text"],
textarea[name="body"] {
	border: solid 1px gray;
}
input#c_myphoto,
input.b_photo{
	font-size:10px;
	margin-left:4px;
}
input#list_item{
	width:150px;
}
table.list_noborder tr{
	display:flex;
	flex-direction:row;
	//border:dotted 1px gray;
}
table.row3 td,th{
	//width:33%;
}
table.row2 td,th{
	//c_group_topのテーブルがスマホ表示ではみ出るので、一旦コメントアウト中
	//width:200px;
}
table.list tr{
	display:flex;
	flex-direction:row;
	//border:dotted 1px gray;
}
table.list th,table.list td {
	border:dotted 1px gray;
	//width:200px;
}
table tr th.check,
table tr td.check {
	width:60px;
	font-size:12px;
}
table tr th.todo,
table tr td.todo {
	width:90px;
	font-size:12px;
}
table tr th.limit,
table tr td.limit {
	width:170px;
	font-size:12px;
}
//class

.u_line {
	//反映できていないCSS
	background: linear-gradient(transparent 50%, pink 50%);
}
.list_id_num {
	width:50px;
}
.list_p_name{
	width:300px;
}
.list_p_wear,.list_r_day,.list_c_name{
	width:150px;
}

section.second{
	margin:20px;
	//margin-top:20px;
	//margin-bottom:20px;
}

.sub_btn {
	height: 40px;
	width: 200px;
	background-color:white;
	border-radius: 25px;
	border:solid 1px #EBC5E3;
}
.add_list_btn {
	border:1px solid gray;
	margin-left: 8px;
	padding: 0 3px;
	font-size: 14px;
}	
.del_btn {
	border:1px solid gray;
	margin-left: 8px;
	padding: 0 3px;
	font-size: 12px;
	background-color:white;
}
.sort_day_btn {
	border:1px solid gray;
	//margin-left: 8px;
	padding: 0 3px;
	font-size: 18px;
}
.sort_day_btn a {
	text-decoration:none;
}
.activ_page_btn {
	border:solid 1px #EBC5E3;
	background-color:#EBC5E3;
}
.pay_btn,
.update_btn {
	border:solid 2px #EBC5E3;
	margin:0 10px;
}
.pay_btn a,
.update_btn a{
	text-decoration:none;
	padding:0 6px;
}
#mainView table{
	border:solid 1px #EBC5E3;
	background-color:#EBC5E3;
}
#mainView{
	//display:none;
}

.c_photo img {
	width:100px;
	height:100px;
	border-radius:50px;
	border:solid 4px #afc;
	object-fit: cover;
	overflow:hidden;
}
.c_photo {
	margin:8px;
	width:150px;
	text-align:center;
}
.c_photo_and_name_area {
	display:flex;
}

.toukou {
	background-color: white;
	margin:10px auto;
	padding:10px;
	border-radius: 5px;
	border: solid 5px #afc;
}
.toukou form{
	
}
.itemlist_cos{
	background-color: #EBC5E3;
	margin:10px auto;
	padding:10px;
	border-radius: 5px;
}
.keijiban {
	background-color: white;
}
.keijiban_sub,
.itemllist_sub {
	background-color: #afc;
	margin:10px auto;
	padding:10px;
	border-radius: 5px;
}
.keijiban_sub img {
	max-width:300px;
	border:solid 3px #ccc;
	border-radius: 5px;
}
.font_mini {
	font-size:12px;
	margin-left:4px;
}
.over{
	color:#ff3a95;
	font-weight:bold;
}
.over_s{
	color:#807fe0;
	font-weight:bold;
}
span.limit_over{
	color:#ff3a95;
	font-weight:bold;
}
