@charset "utf-8";

body {
	color: #707070;
	margin:auto;
	font-family: 'Noto Serif JP', serif;
}

header{
	height: 60px;
	line-height:20px;
	background-color: #EBC5E3;
	text-align:center;
	padding:20px;
}
header ul{
	display:flex;
	justify-content:space-between;
}
footer{
	background-color: #EBC5E3;
	padding:20px;
}
main {
	padding:20px;
}

ul {
	list-style:none;
}
a {
	color:#707070;
}
section {
	margin:20px;
}
form{
	//border:solid 1px gray;
}

section form{
	margin:auto;
	//padding:20px;
}
table {
	margin-bottom:20px;
}
table tr {
	display:flex;
	flex-direction:column;
}
table tr th {
	text-align:left;
}
table tr td input,table tr td select{
	border: solid 1px gray;
}
input[type="submit"] {
	height:30px;
	width:160px;
	border:solid 1px gray;
	border-radius:15px;
	line-height:30px;
	margin:4px;
}
input[type="text"],
textarea[name="body"] {
	border: solid 1px gray;
}

table {
	width:100%;
}
table.list_noborder tr{
	display:flex;
	flex-direction:row;
	//border:dotted 1px gray;
}
table.row3 td,th{
	width:33%;
}
table.row2 td,th{
	width:200px;
}
table.list tr{
	display:flex;
	flex-direction:row;
	//border:dotted 1px gray;
}
table.list th,table.list td {
	border:dotted 1px gray;
	//width:200px;
}


//class
.u_line {
	background: linear-gradient(transparent 50%, pink 50%);
}
.list_id_num {
	width:50px;
}
.list_p_name{
	width:300px;
}
.list_p_wear,.list_r_day,.list_c_name{
	width:150px;
}

section.second{
	margin-top:20px;
	margin-bottom:20px;
}

.sub_btn {
	height: 40px;
	width: 200px;
	background-color:white;
	border-radius: 25px;
	border:solid 1px #EBC5E3;
}

.add_list_btn {
	border:1px solid gray;
	margin-left: 8px;
	padding: 0 3px;
	font-size: 14px;
}	
.del_btn {
	border:1px solid gray;
	margin-left: 8px;
	padding: 0 3px;
	font-size: 12px;
}

