@charset "utf-8";

* {
	//border:1px red solid;
}
/*

inputエリアの背景色 淡いグレー #f8f8f8
inputエリアの枠線 #dfdfdf
お客様 ヘッダーフッター色　淡い青 #b0d7dc;
お客様 確認・更新ページ以降ボタンBTN背景色 淡いピンク #ffb5ae
青アンダーライン #a6d5fa
下線 background: linear-gradient(transparent 50%, #a6d5fa 0%);
みどり #A2D03C
*/

html, body { height: 100%; }

body {
	width:100%;
	margin:auto;
	color: #45403f;
	font-family: 'Noto Serif JP', serif;
}

header {
	width:100%;
	position:fixed;
	z-index:999;
	display:inline-block;
	height: 60px;
	text-align:center;
	margin:auto;
	text-align:center;
	background-color: #b0d7dc;
	padding-left:10px;
	padding-right:10px;
}
/* -- login header -- */
header.index,
header.staff_login {
	padding:15px;
	line-height:30px;
	display:flex;
	justify-content:center;
}

/* -- header for customer -- */
header.header_for_c nav ul{
	display:flex;
	justify-content:space-around;
	line-height:60px;
}
header.header_for_c nav ul li a,
header.staff nav ul li a{
	font-size:clamp(12px,10px + .7vw,14px);
}
header.header_for_c nav ul li a:hover{
	color:yellow;
	text-decoration:underline;
}

.pc_only{
	display:none;
}

/* -- header for staff --*/
header.staff_login{
	background-color: #A2D03C;
	margin:auto;
}
header.staff {
	background-color: #41452b;
}
header.staff nav ul{
	display:flex;
	justify-content:space-around;
	line-height:60px;
}
header.staff nav ul li{
	color:#ddd7d7;
}
footer.staff{
}



footer{
	/*background-color: #b0d7dc;
	padding:20px;
	width:100%;
	height: 60px;
	*/
}
main {
	width:100%;
	padding:20px;
	margin:auto;
	margin-bottom:60px;

	text-align:center;
	padding-top:80px;
	background: url(../image/demo.jpg) center top;
	background-size: contain;
	/*height:100%;*/
	height: calc(100% - 60px);
}
section {
	max-width:100%;
	margin:20px auto;
}
section:last-child {
  padding-bottom:40px;;
}
section form{
	max-width:100%;
	margin:auto;
}

/* -- 縦位置調整 -- */
.payment_main,
.top_main,
.staff_login_main,
.plan_update_main,
.plan_add_main {
	position:relative;
}
.payment_section{
	position:absolute;
	top:44vh;
	left: 0;
  right: 0;
  margin: auto;
}
.top_section,
.staff_login_section {
	position:absolute;
	top:28vh;
	left: 0;
  right: 0;
  margin: auto;
}
.top_section_bottom {
	position:absolute;
	top:90vh;
	left: 0;
  right: 0;
  margin: auto;
}
.plan_update_section,
.plan_add_section {
	position:absolute;
	top:30vh;
	left: 0;
  right: 0;
  margin: auto;
}


/* --- font size and decoration--- */
h1.login_title{
	margin-bottom:20px;
	font-weight:bold;
}
h2{
	font-size:clamp(14px,3.6vw,16px);
	display:inline-block;
	background: linear-gradient(transparent 50%, #fff100 0%);
	padding-left:10px;
	padding-right:10px;
	margin-bottom:10px;
	margin-top:20px;
}
.c_update > h2{
	margin-top:20px;
}
div>h2,
section>h2{
	margin-top:0;
}
h3{
	font-size:clamp(14px,3.6vw,16px);
}
p,
input{
	font-size:14px;
}
ul {
	list-style:none;
}
a {
	font-size:12px;
	text-decoration:none;
	color: #45403f;
	display:block;
}
header a,
footer a{
	color:white;
}
i{
	margin-left:6px;
	margin-right:2px;
}
.red{
	color:red;
	font-size:12px;
}

/* -- header -- */
.logo{
	height:30px;
}

/* ---- title area ---- */
#title_wrapper {
	position:relative;
	background: url(../image/h1_imgBorder.png) repeat-x center bottom;
	background-size: auto 5px;
	padding-top: 26px;
	padding-bottom: 10px;
	max-width: 600px;
	margin: auto;
	overflow: hidden;
	text-align: center;
}
h1 {
	font-size:17px;
	display:inline-block;
	text-align:center;
}
span.font_mini_no_padding,
.font_mini_no_padding{
	font-size:12px;
	padding:0;
}
#title_wrapper:before{
	content:"";
	display:inline-block;
	background:url(../image/birdicon04-sp.png) no-repeat;
	width:67px;
	height:62px;
	background-size: cover;
  position: absolute;
	left: 3px;
  bottom: 0;
}
#title_wrapper:after{
	content:"";
	display:inline-block;
	background:url(../image/birdicon03-sp.png) no-repeat;
  width:60px;
	height:85px;
	background-size: cover;
  position: absolute;
  right: 14px;
  bottom: 0;
}

/* header index */
header h1{
	color:white;
	margin-left:20px;
	margin-right:20px;

}
img.header_img {
	height:20px;
}


.messages p.msg_random{
	background: linear-gradient(transparent 50%, #def8fb 0%);
	display: inline;
	font-size:clamp(10px,10px + .8vw,13px);
	margin-top:10px;
	margin-bottom:20px;
	text-align:left;
}
.messages p.msg{
	font-weight:bold;
	background: linear-gradient(transparent 50%, #ffcfca 0%);
	display: inline;
	font-size:clamp(10px,10px + .8vw,13px);
	margin-top:4px;
	margin-bottom:20px;
	text-align:left;
}


/* --- about form  input/select/textarea --- */
input,
select,
textarea,
.login_table input{
	padding: 0 8px;
	margin:auto;
	width: clamp(220px,80vw,600px);
	//width:260px;
	box-sizing:border-box;
	background-color:#f8f8f8;
	border:#dfdfdf;
}
.check select{
	width:80px;
}
input::placeholder {
  color: #ccc;
  font-size:12px;
  margin-bottom:10px;
}
input[type="submit"] {
	height:30px;
	width:160px;
	//border:solid 1px gray;
	border-radius:15px;
	line-height:30px;
	margin:4px;
	padding-left:0;
}
input[type="text"],
input[type="password"],
textarea[name="body"],
textarea {
	border: solid 1px gray;
}
input#c_myphoto,
input.b_photo{
	font-size:10px;
	margin-left:4px;
	padding: 0 8px;
	width:220px;
	box-sizing:border-box;
}
input#list_item,
input.serch_name{
	width:150px;
}
input[type="file"]{
	width:clamp(220px,40vw,240px);
	font-size:clamp(10px,10px + .7vw,12px);
	margin:auto;
}
table tr td input,
table tr td select,
input,select,
p select{
	border: solid 1px gray;
}
input[type="file"]{
	border:none;
	background:none;
}
textarea{
	height:50px;
	padding-top:6px;
	padding-bottom:6px;
}


/* --table-- */
table {
	width:100%;
	max-width:100%;
	margin-bottom:20px;
	box-sizing:border-box;
}

table tr {
	max-width:100%;
	display:flex;
	flex-direction:column;
}
table tr th {
	text-align:left;
}
tr th,tr td{
	padding:4px 0;
}


table.list_noborder{
	width:100%;
	margin:auto;
}
table.list_noborder tr{
	display:flex;
	flex-direction:row;
}
table.list_noborder th{
	text-align:center;
}

table.list tr,
table.p_list tr{
	display:flex;
	flex-direction:row;
}
table.p_list tr{
	padding-top:6px;
	padding-bottom:6px;
}
table.list th {
	border:solid 1px white;
	padding:4px;
}

table.list td {
	border:dotted 1px white;
	padding:4px;
	line-height:30px;
}
table.list td a{
	height:30px;
}

/* --- schedule for customer--- */
table.schedule{
	text-align:center;
	background-color:white;
	border-left:1px solid #c5d4eb;
	border-right:1px solid #c5d4eb;
	border-top:1px solid #c5d4eb;
	margin:auto;
	width: clamp(220px,80vw,600px);
	
}
.schedule tr.need_line{
	border-bottom:1px solid #c5d4eb;
}
.schedule tr.need_line .todo_detail{
	border-top:1px dotted #c5d4eb;
}

.schedule tr th{
	font-size:clamp(14px,10px + .8vw,16px);
	border-bottom:1px solid #c5d4eb;
	text-align:center;
}
.schedule_s tr td{
	border-bottom:1px solid #c5d4eb;
}
.schedule_s tr .todo{
	border-right:1px dotted #c5d4eb;
}


table tr th.check,
table tr td.check {
	width:20%;
	border-right:1px solid #c5d4eb;
}
table tr th.todo,
table tr td.todo {
	width:30%;
}
table tr th.limit,
table tr td.limit {
	width:50%;
}
table tr td.todo_detail{
	width:80%;
	text-align:left;
	padding-left:6px;
}
table tr td.check,
table tr td.todo,
table tr td.limit {
	font-size:clamp(11px,10px + .4vw,14px);
}

/* -- 2枠テーブル -- */
table.c_top{
	margin:auto;
	width: clamp(220px,80vw,600px);
	margin-top:20px;
}
table.c_top tr,
table.msg_list tr{
	display:flex;
	flex-direction:row;
	max-width:100%;
	background-color:#c5d4eb;
}
table.c_top tr th{
	width:30%;
	padding:8px;
	border:white solid 1px;
}
table.c_top tr td{
	width:70%;
	padding:8px;
	border:white solid 1px;
}
table.msg_list th,
table.msg_list td{
	border:white solid 1px;
}

/* -- テーブル -- */
table.c_list tr{
	display:flex;
	flex-direction:row;
	max-width:100%;
	background-color:#c5d4eb;
}
table.c_list tr th,
table.c_list tr td{
	border:white solid 1px;
}

.bgc_gray {
	background-color:#f8f8f8;
	text-align:left;
	padding-left:10px;
}.bgc_gray_only {
	background-color:#f8f8f8;
}


/* 顧客Gリスト用スクロールバー*/
.table-scroll{
  overflow: auto; /*スクロールさせる*/
  white-space: nowrap; /*文字の折り返しを禁止*/
}
/* 以下、スクロールバーを追加 */
.table-scroll::-webkit-scrollbar{　　
 height: 5px;
}
.table-scroll::-webkit-scrollbar-track{
 background: #333;
}
.table-scroll::-webkit-scrollbar-thumb {
 background: #999;
}
table.c_gropup_list{
	margin-bottom:0;
}


.c_update,
.c_g_check {
	margin:auto;
	width:90%;
}
.c_update p,
.c_g_check p{
	text-align:left;
}
.c_update td input,
.c_update td select,
.c_update td textarea,
.c_update td input[type="file"] {
	width:100%;
}
.c_g_check tr{
	margin-bottom:6px;
}
.c_g_check tr th,
.c_g_check tr th p{
	padding-bottom: 0;
}
/*
.c_group_add_table td,
.p_update_table td
*/
.c_g_check td{
	background-color:#f8f8f8;
	margin-top:0;
	padding-left:6px;
}

.c_g_top_notice{
	width:100%;
}
.c_g_top_notice1,
.c_g_top_notice2{
	width:25%;
}
.c_g_top_notice3{
	width:50%;
	text-align:left;
	padding-left:4px;
}
.c_g_top_notice3 a{
	text-decoration:underline;
	font-size:clamp(10px,3vw,14px);
}
.list_id_num a{
	text-decoration:underline;
	font-size:17px;
}

/* --- 続きを読むの設定--- */
.td_detail_wrap {
  position: relative;
}
.td_detail_wrap + .td_detail_wrap {
  margin-top: 40px;
}
.td_detail_trigger {
  /*ボタンのスタイルはご自由にどうぞ*/
}
.td_detail_trigger::after {
  content: "全文を表示" /*クリック前のボタンのラベル*/
}
.td_detail_trigger .fa {
  margin-right: .5em;
}
.td_detail_item {
  position: relative;
  overflow: hidden;
}
.td_detail_item.is-hide {
  height: 60px; /*隠した後の高さ*/
}
.td_detail_item::before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 30px; /*グラデーションで隠す高さ*/
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
}
.td_detail_trigger.is-show {
  bottom: -2em;
}
.td_detail_trigger.is-show::after {
  content: "一部を表示" /*クリック後にボタンのラベルを変える*/
}
.td_detail_trigger.is-show + .td_detail_item::before {
  display: none;
}
span.td_detail_trigger{
	font-size:9px;
	background-color:white;
	opacity:.8;
	border:1px solid #EBC5E3;
	padding:1px 6px;
}


/* --- class --- */


/* -for plan list- */
.p_list{
	max-width:100%;
}
.list_id_num {
	width:clamp(16px,10vw,50px);
}
.list_p_name{
	width:clamp(140px,35vw,350px);
}
.list_p_wear{
	width:clamp(72px,25vw,150px);
}
.list_p_link{
	width:clamp(26px,14vw,100px);
	margin:auto;;
}
/* -for Group list- */
table.c_gropup_list {
	background-color:#c5d4eb;
}
table.c_gropup_list .list_id_num {
	width:50px;
}
.list_p_btn,
.list_r_day,
.list_c_name{
	width:150px;
}
table.c_gropup_list .list_p_name,
table.c_gropup_list .list_board_notice{
	width:300px;
}
table.c_gropup_list .list_board_notice a{
	text-decoration:underline;
}


/* -- msg list-- */
.list_mbody{
	width:clamp(200px,70vw,500px);
}

/* --- button or class's name 'btn' --- */
button {
	margin-top:10px;
	margin-bottom:10px;
}
.sub_btn {
	height: 40px;
	width: 200px;
	background-color:#fff100;
	color: #333;
	border-radius: 25px;
	border:none;
}
.sub_btn:hover {
	opacity:.6;
}
.add_list_btn {
	border:1px solid gray;
	margin-left: 8px;
	padding: 0 3px;
	font-size: 14px;
}	
.del_btn {
	border:1px solid gray;
	margin:0 0 0 8px;
	padding: 0 3px;
	font-size: 12px;
	background-color:white;
}
.sort_day_btn {
	border:1px solid #ffb5ae;
	padding: 0 10px;
	height: 35px;
}
.sort_day_btn a {
	font-size: 14px;
	text-decoration:none;
}
.activ_page_btn {
	border:solid 1px #ffb5ae;
	background-color:#ffb5ae;
}

.pay_btn,
.update_btn,
.update_link,
.update_link_mini,
.add_link,
.logout_link {
	background-color:#ffb5ae;
	padding:4px 10px;
}
.pay_btn a,
.update_btn a,
.update_link a,
.add_link a,
.logout_link a{
	text-decoration:none;
	padding:0 6px;
	color:white;
	font-size:clamp(12px,10px + .7vw,14px);
}
.update_link_mini a{
	text-decoration:none;
	padding:0;
	margin:0 auto;
	text-align:center;
	color:white;
	font-size:clamp(10px,8px + .7vw,12px);
}

.pay_btn:hover,
.update_btn:hover,
.update_link:hover,
.update_link_mini :hover,
.add_link:hover.
.logout_link:hover{
	opacity:.6;
}


#mainView{
	/*display:none;*/
}

.c_top img,
.c_photo img {
	width:100px;
	height:100px;
	border-radius:50px;
	border:solid 4px #fff100;
	object-fit: cover;
	overflow:hidden;
}

.c_photo {
	margin:8px;
	width:150px;
	text-align:center;
}
.c_photo_and_name_area {
	display:flex;
	justify-content:center;
}
.icon{
	max-width:85%;
	padding:4px 2px 0 8px;
	opacity:.7;
}
.c_group_list_head th,
td.c_group_list_head,
.p_list th{
	text-align:center;
}



.toukou,
.notice_wrapper,
.msg_wrapper {
	background-color: white;
	margin:10px auto;
	padding:10px;
	border-radius: 5px;
	border: solid 3px #a6d5fa;
	width: clamp(220px,80vw,600px);
}
.msg_wrapper input[type="text"],
.msg_wrapper input[type="number"],
.msg_wrapper select,
.msg_wrapper textarea{
	width: clamp(220px,70vw,500px);
}
table.msg_list {
	width: clamp(220px,70vw,600px);
	margin:10px auto;
}
.msg_list th p {
	text-align:center;
}
.msg_list td p {
	text-align:left;
}
.msg_th {
	margin-top:15px;
	margin-bottom:5px;
}


.itemlist_cos,
.itemlist_sub{
	background-color: white;
	margin:10px auto;
	padding:10px;
	border:3px solid #ffb5ae;
	border-radius: 5px;
	width: clamp(220px,80vw,600px);
}

.itemlist_cos li,
.itemllist_sub li,
.itemlist_title {
	font-size:clamp(12px,10px + .7vw,14px);
	padding:0;
	margin:6px 0;
	text-align:left;
}
.itemlist_title{
	font-weight:bold;
}

/* table */
.c_update_table,
.c_g_check,
.c_top,
.login_table,
.p_list,
.list,
.staff_add_table,
.staff_update_table,
.c_add_table,
.c_group_add_table,
.plan_add_table,
.p_update_table,
.c_group_each_table,
.c_group_each_mg_table,
.c_group_update_table {
	margin:auto;
	width: clamp(220px,80vw,600px);
	margin-bottom:20px;
}

.c_group_each_table th{
	width: clamp(30px,15vw,200px);
}
.c_group_each_table td{
	width: clamp(200px,85vw,400px);
	text-align:left;
}
.messages,
.payment_atention{
	width: clamp(200px,85vw,400px);
	margin:auto;
}
.payment_atention {
	text-align:left !important;
}

/* --- keijiban--- */
.keijiban {
	background-color: white;
}
.toukou textarea{
	width:clamp(230px,90%,600px);
}

.keijiban_sub,
.itemllist_sub {
	border:3px solid #a6d5fa;
	background-color:white;
	margin:10px auto;
	padding:10px;
	border-radius: 5px;
	width: clamp(220px,80vw,600px);
}
.keijiban_sub p,
.keijiban_sub a{
	text-align:left;
}
.keijiban_sub_c{
	background-color: #EBC5E3;
}
.keijiban_sub a img {
	max-width:clamp(200px,70vw,300px);
	//max-width:100%;
	border:solid 3px #ccc;
	border-radius: 5px;
	margin-top:8px;
}

.b_sub_data_area{
	display:flex;
	margin-bottom:6px;
}
.b_sub_data_area >div{
	height:30px;
}
.b_sub_data_area img{
	width:30px;
	height:30px;
	border-radius:30px;
	border:solid 2px #ffb5ae;
}
img#c_photo_border {
	border:solid 2px yellow;
}

/* --- mini and big size font --- */
.font_mini {
	font-size:12px;
	margin-left:4px;
	text-align:left;
}
.font_mini2{
	font-size:clamp(11px,9px + .5vw,14px);
}
span.font_mini3{
	font-size:clamp(8px,8px + .8vw,12px);
	padding:0 6px;
	margin:0;
	line-height:30px;
}
.font_mini_no_padding{
	font-size:clamp(12px,10px + .7vw,14px);
	padding:0;
}
.font_big{
	font-size:clamp(18px,18px + .3vw,20px);
}

.line_h_40 {
	line-height:40px;
}
.m_bottom_20 {
	margin-bottom:20px;
}
.m_bottom_35 {
	margin-bottom:20px;
}
.m_top_30{
	margin-top:30px;
}

span.for_space{
	width:16px;
	visibility：hidden;
}
.remark{
	margin-top:20px;
	margin-bottom:8px;
	margin:auto;
	width: clamp(220px,60vw,500px);
	font-size:clamp(11px,9px + .5vw,14px);

	text-align:left;
}

/* --- limit over display --- */
.over{
	color:#ff3a95;
	font-weight:bold;
}
.over_s{
	color:#807fe0;
	font-weight:bold;
}
span.limit_over{
	color:#ff3a95;
	font-weight:bold;
}

/* --- 必須表示 ---*/
.required_color {
  background-color: pink;
  color: white;
  margin: 0 0 0 10px;
  padding: 2px;
  font-size:12px;
}
/* ---パスワードアイコン---*/
.pass_area{
  //position: relative;
}
.field-icon {
  color: #888;
  //float: right;
  //margin-right: 15px;
  //margin-top: -40px;
  //position: absolute;
  //left: 255px;
  margin-left:4px;
  margin-right:20px;
  z-index: 2;
}


/* -- animation-- */
.fuwafuwa_mini{
	animation-name: huwahuwa;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-duration: 1.8s;
	height:10px;
	margin-right:10px;
	//animation:blink 1.8s ease-in-out infinite alternate;;
}
.fuwafuwa{
	height:20px;
	margin-right:10px;
		animation-name: huwahuwa;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-duration: 1.2s;
	//animation:blink 1.2s ease-in-out infinite alternate;;
}
.fuwafuwa2{
	height:25px;
	margin-left:10px;
		animation-name: huwahuwa;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-duration: 1.6s;
	//animation:blink 1.6s ease-in-out infinite alternate;;
}
.fuwafuwa3{
	height:30px;
		animation-name: huwahuwa;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-duration: 1.4s;
	//animation:blink 1.4s ease-in-out infinite alternate;;
}
.fuwafuwa4{
	height:30px;
		animation-name: huwahuwa;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-duration: 1.6s;
	//animation:blink 1.6s ease-in-out infinite alternate;;
}
@keyframes huwahuwa {
	0% {transform: translate(0,0px); }
  100% {transform: translate(0,-12px); }
}

.hunwari {
	width:60px;
  animation: fadeIn 3s ease 0s 1 normal;
}
@keyframes fadeIn {
	0% {opacity: 0}
	100% {opacity: 1}
}


@media screen and (min-width: 480px) {
	.pc_only{
		display:inline-block;
	}
	br.sp_only{
		display:none;
	}
	
}
